@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/BahijTheSansArabic-ExtraLight.woff2") format("woff2"), url("../fonts/BahijTheSansArabic-ExtraLight.woff") format("woff"), url("../fonts/BahijTheSansArabic-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/BahijTheSansArabic-Light.woff2") format("woff2"), url("../fonts/BahijTheSansArabic-Light.woff") format("woff"), url("../fonts/BahijTheSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic Plain";
  src: url("../fonts/BahijTheSansArabic-Plain.woff2") format("woff2"), url("../fonts/BahijTheSansArabic-Plain.woff") format("woff"), url("../fonts/BahijTheSansArabic-Plain.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/BahijTheSansArabic-SemiBold.woff2") format("woff2"), url("../fonts/BahijTheSansArabic-SemiBold.woff") format("woff"), url("../fonts/BahijTheSansArabic-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/BahijTheSansArabic-Bold.woff2") format("woff2"), url("../fonts/BahijTheSansArabic-Bold.woff") format("woff"), url("../fonts/BahijTheSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/BahijTheSansArabic-ExtraBold.woff2") format("woff2"), url("../fonts/BahijTheSansArabic-ExtraBold.woff") format("woff"), url("../fonts/BahijTheSansArabic-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/BahijTheSansArabic-Black.woff2") format("woff2"), url("../fonts/BahijTheSansArabic-Black.woff") format("woff"), url("../fonts/BahijTheSansArabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-weight: 400;
  font-style: normal;
  font-family: "Bahij TheSansArabic";
}

.title-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.title-text h3 {
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
  font-weight: 800;
  text-align: start;
  margin: 0;
}
.title-text a {
  font-size: 14px;
  text-transform: capitalize;
  color: #000000;
  font-weight: 500;
  transition: all linear 0.2s;
}
.title-text a:hover {
  color: #b5000a;
}

.item-parent {
  position: relative;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainBanner .swiper-button-next, .mainBanner .swiper-button-prev {
  display: none;
}
.mainBanner .swiper-button-prev::after, .mainBanner .swiper-rtl .swiper-button-next::after {
  content: "";
}
.mainBanner .swiper-button-next:after, .mainBanner .swiper-rtl .swiper-button-prev:after {
  content: "";
}

.mainBanner .swiper-button-next, .mainBanner .swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(181, 0, 10, 0.2);
  border-radius: 50%;
  transition: all linear 0.2s;
}
.mainBanner .swiper-button-next:hover, .mainBanner .swiper-button-prev:hover {
  background-color: #000;
}
.mainBanner .swiper-button-next i, .mainBanner .swiper-button-prev i {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next {
  left: -60px;
}
.mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
  right: -60px;
}

.ancor-btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.ancor-btn:hover {
  text-decoration: none;
  color: black;
}
.ancor-btn:focus {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #b5000a;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}

.preloader {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  background-color: #b5000a;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.toTop {
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  z-index: 10;
  transition: all linear 0.3s;
  opacity: 0;
  visibility: hidden;
}
.toTop .toTop-icon {
  font-size: 20px;
  color: #808080;
  transition: all linear 0.2s;
}

.fixed-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  transition: all linear 0.8s;
  align-items: center;
  background-color: #25d366;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  text-decoration: none;
}
.fixed-whatsapp:focus {
  text-decoration: none;
}
.fixed-whatsapp i {
  font-size: 36px;
  color: #ffffff;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #25d366;
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}
@media only screen and (min-width: 768px) {
  .toTop:hover {
    background-color: #000;
  }
  .toTop:hover i {
    color: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .title-text a {
    font-size: 13px;
  }
  .title-text h3 {
    font-size: 17px;
  }
  .title-text {
    margin-bottom: 20px;
  }
}
header {
  background-color: #fff;
  transition: all linear 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}

body {
  padding-top: 132.6px;
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 122px;
  }
}
.account-text {
  display: flex;
  align-items: center;
}

.top-header {
  border-bottom: 1px solid #f2f2f2;
}

.main-nav {
  padding: 20px 30px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 16.51%;
  position: relative;
}
.search .search-item > button {
  position: absolute;
  inset-inline-start: 0;
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
}
.search .search-item > button i {
  font-size: 24px;
  color: #000;
  display: block;
}
.search input {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
}
.search input::-moz-placeholder {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 500;
}
.search input::placeholder {
  font-size: 12px;
  color: #a6a6a6;
  font-weight: 500;
}
.search input:focus {
  outline: none;
  border-color: #000;
}

.lang {
  cursor: pointer;
  -webkit-margin-start: 45px;
          margin-inline-start: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang span {
  transition: all linear 0.2s;
}
.lang:hover span {
  color: #b5000a;
}
.lang img {
  -webkit-margin-start: 6px;
          margin-inline-start: 6px;
}

.account-user {
  width: 16.51%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-user .account-text {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.account-user .account-text i {
  font-size: 24px;
  color: #000;
  display: block;
}
.account-user .account-text span {
  font-size: 16px;
}

.favourite {
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}
.favourite:hover i {
  color: #000;
}
.favourite i {
  font-size: 24px;
  color: #000;
}

.lang-type {
  font-size: 12px;
  color: #808080;
  text-transform: capitalize;
  font-weight: 500;
}
.lang-type:hover {
  text-decoration: none;
  color: #808080;
}
.lang-type:focus {
  text-decoration: none;
}

.open-search-btn {
  transform: scaleX(-1);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}
.cart i {
  transition: all linear 0.2s;
}
.cart:hover i {
  color: #000;
}

.cart div {
  position: relative;
}

.cart i {
  font-size: 24px;
  color: #000;
  display: block;
}

.number {
  width: 16px;
  height: 16px;
  background-color: #b5000a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  position: absolute;
  top: -4px;
  left: 14px;
}

.favourite i, .account-btn i {
  transition: all linear 0.2s;
}

.account-btn-color {
  color: #b5000a;
}

nav {
  background-color: #fff;
  position: relative;
}
nav .closeBtn {
  display: none;
}

.ul-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ul-navbar li:last-child {
  margin: 0;
}
.ul-navbar > li {
  -webkit-margin-end: 25px;
          margin-inline-end: 25px;
}
.ul-navbar > li .nav-ancor {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
  transition: all linear 0.2s;
}
.ul-navbar > li .nav-ancor:hover {
  text-decoration: none;
  color: #b5000a;
}

.li-drop > a::after {
  content: "\f107";
  font-family: "line Awesome free";
  font-weight: 900;
  position: relative;
  color: #000;
  font-size: 12px;
}
.li-drop:hover > a::before {
  opacity: 1;
  visibility: visible;
}
.li-drop:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.ul-navbar li.li-drop {
  -webkit-margin-end: 25px;
          margin-inline-end: 25px;
}

.bars, .cart-icon, .open-search-btn {
  display: none;
  border: none;
  background: transparent;
}

.bars i {
  display: block;
}

.open-nav {
  inset-inline-start: 0;
  transition: all linear 0.3s;
}

.account-details {
  min-width: 129px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  padding: 10px 20px;
  z-index: 999;
  inset-inline-start: -15px;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
  inset-inline-start: -51px;
  top: 100%;
}
.account-details li {
  margin-bottom: 8px;
}
.account-details li a {
  font-size: 13px;
  color: #808080;
  font-weight: 500;
  text-transform: capitalize;
  transition: all linear 0.2s;
}
.account-details li a:hover {
  text-decoration: none;
  color: #b5000a;
}

.account-text:hover .account-details {
  opacity: 1;
  visibility: visible;
}

.account-btn:hover i {
  color: #b5000a;
}

.show-account-details {
  opacity: 1;
  visibility: visible;
}

.nav-arrow-rotate::after {
  transform: rotate(180deg) !important;
}

@media screen and (max-width: 1300px) {
  .search, .account-user {
    width: 19.8%;
  }
}
@media only screen and (min-width: 992px) {
  .search {
    display: block !important;
  }
}
@media only screen and (min-width: 768px) {
  .li-drop > a:hover::after {
    color: #b5000a;
  }
  .lang-close-mob {
    display: none;
  }
  .li-drop > a {
    line-height: 46px;
  }
  .favourite:hover i {
    color: #b5000a;
  }
  .cart:hover i {
    color: #b5000a;
  }
}
@media only screen and (max-width: 1199px) {
  .search, .account-user {
    width: auto;
  }
}
@media only screen and (max-width: 991px) {
  .lang-type {
    font-size: 13px;
  }
  .account-user {
    margin-bottom: 0;
  }
  .main-nav {
    flex-wrap: wrap;
  }
  .main-nav .search {
    order: 3;
    width: 100%;
    margin-top: 12px;
  }
  .main-nav .logo {
    order: 1;
  }
  .main-nav .account-user {
    order: 2;
  }
  .top-header {
    border-bottom: none;
  }
  .lang-close-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search .search-item > button {
    inset-inline-start: unset;
    inset-inline-end: 14px;
    transform: translateY(-50%);
  }
  html[dir=ltr] .search .search-item > button {
    transform: scaleX(-1) translateY(-50%);
  }
  .search .search-item > button i {
    font-size: 20px;
  }
  .user-color {
    color: #b5000a !important;
  }
  .lang > a {
    display: flex;
    align-items: center;
  }
  .li-drop {
    padding: 0;
  }
  .lang img {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
  .li-drop {
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
  }
  .li-drop > a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
    cursor: pointer;
  }
  .li-drop > a::after {
    transition: all linear 0.3s;
    position: relative;
    inset-inline-end: 0;
    font-size: 16px;
  }
  .search input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: all linear 0.3s;
    max-width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 20px 0 45px;
    font-size: 16px;
    font-weight: 400;
  }
  .search input:focus {
    border-color: #b5000a;
  }
  .bars, .open-search-btn i {
    font-size: 24px;
    display: block;
  }
  nav {
    overflow-y: auto;
    margin: 0;
    transition: all linear 0.3s;
    z-index: 99;
    position: fixed;
    inset-inline-start: -100%;
    padding: 30px 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
  }
  nav .closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    font-size: 22px;
  }
  nav .ul-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main-nav {
    align-items: center;
    padding: 10px 20px;
  }
  .lang {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .cart .shoppingText {
    display: none;
  }
  .account-section {
    margin-bottom: 0;
  }
  .bars, .search-icon {
    display: block;
    inset-inline-end: 15px;
  }
  .account-user .account-text {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    display: flex;
    align-items: center;
  }
  .account-user {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
  }
  .main-nav .lang {
    display: none;
  }
  .favourite, .cart, .bars, .account-user .account-text {
    -webkit-margin-start: 25px;
            margin-inline-start: 25px;
  }
  .lang-close-holder-mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mynav {
    margin-top: 50px;
  }
  .ul-navbar li .nav-ancor {
    font-size: 16px;
    color: #000;
    font-weight: 500;
  }
  .ul-navbar li .nav-ancor:hover {
    color: #000;
  }
  .account-text {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .cart {
    padding: 0;
  }
  .ul-navbar > li {
    margin-bottom: 15px;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
  .ul-navbar li.li-drop {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
  }
}
@media only screen and (max-width: 767px) {
  .favourite, .cart, .bars, .account-user .account-text {
    -webkit-margin-start: 20px;
            margin-inline-start: 20px;
  }
  .favourite {
    display: none;
  }
  .account-user .account-text {
    padding: 0;
  }
  .account-details {
    top: 32px;
    min-width: 120px;
    padding: 10px 15px;
    inset-inline-start: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .account-details li {
    margin-bottom: 8px;
  }
  .account-details li:last-of-type {
    margin-bottom: 0;
  }
  .account-details li a {
    font-size: 12px;
  }
  .logo img {
    width: 80px;
  }
  body {
    padding-top: 101.19px;
  }
  html[dir=ltr] .search input {
    padding: 0 50px 0 15px;
  }
  .search {
    margin-top: 10px;
  }
  .number {
    top: -6px;
    left: 11px;
  }
  .english {
    color: #808080;
    font-weight: 400;
  }
  .account-user {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .closeBtn i {
    color: #808080;
  }
}
.mainBanner .container {
  height: 100%;
}
.mainBanner .mainslider-item {
  text-align: center;
}
.mainBanner .swiper-pagination-bullet {
  opacity: 0.502;
  background-color: #000000;
}
.mainBanner .swiper-button-prev i, .mainBanner .swiper-rtl .swiper-button-next i, .mainBanner .swiper-button-next i, .mainBanner .swiper-rtl .swiper-button-prev i {
  color: #fff;
}
.mainBanner .swiper-horizontal > .swiper-pagination-bullets, .mainBanner .swiper-pagination-bullets.swiper-pagination-horizontal, .mainBanner .swiper-pagination-custom, .mainBanner .swiper-pagination-fraction {
  display: block;
  bottom: 10px;
}
.mainBanner .mainBanner-parent {
  position: relative;
  height: 100%;
}
.mainBanner .swiper-button-next:after, .mainBanner .swiper-rtl .swiper-button-prev:after, .mainBanner .swiper-button-prev:after, .mainBanner .swiper-rtl .swiper-button-next:after {
  content: "";
}

.mainBanner-link {
  height: 100%;
  display: block;
}
.mainBanner-link img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: all linear 0.3s;
  margin-top: 0;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.mainBanner .swiper-button-prev:hover, .mainBanner .swiper-rtl .swiper-button-next:hover, .mainBanner .swiper-button-next:hover, .mainBanner .swiper-rtl .swiper-button-prev:hover {
  background-color: #fff;
}
.mainBanner .swiper-button-prev:hover i, .mainBanner .swiper-rtl .swiper-button-next:hover i, .mainBanner .swiper-button-next:hover i, .mainBanner .swiper-rtl .swiper-button-prev:hover i {
  color: #000;
}
.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next {
  left: 30px;
}
.mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
  right: 30px;
}
.mainBanner .mainslider-item {
  position: relative;
  height: 100%;
}
.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev i {
  font-size: 24px;
}

.mainBanner .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .mainBanner .swiper-horizontal > .swiper-pagination-bullets, .mainBanner .swiper-pagination-bullets.swiper-pagination-horizontal, .mainBanner .swiper-pagination-custom, .mainBanner .swiper-pagination-fraction {
    bottom: 2px;
  }
}
@media only screen and (max-width: 991px) {
  .mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .mainBanner {
    padding-top: 0;
  }
  .mainBanner .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
.mega-menu {
  transition: all linear 0.2s;
  z-index: 999999;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  border-top: 1px solid #f2f2f2;
  background-color: #ffffff;
  padding: 35px 0;
  opacity: 0;
  visibility: hidden;
}

.mega-items-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.mega-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.mega-item h3 {
  font-size: 14px;
  text-transform: capitalize;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
}
.mega-item ul li a {
  color: #808080;
  font-size: 14px;
  line-height: 34px;
  transition: all linear 0.2s;
  font-weight: 500;
}
.mega-item ul li a:hover {
  color: #b5000a;
}

@media only screen and (max-width: 991px) {
  .mega-item ul {
    display: none;
    -webkit-padding-start: 15px;
            padding-inline-start: 15px;
  }
  .mega-item ul li:first-of-type {
    padding-top: 5px;
  }
  .mega-item ul li:last-of-type {
    padding-bottom: 5px;
  }
  .mega-item h3 {
    position: relative;
    display: block;
    margin-bottom: 7px;
    color: #b5000a;
    width: 100%;
    padding: 0 15px;
  }
  .mega-item h3::after {
    content: "\f107";
    font-size: 15px;
    transition: all linear 0.3s;
    font-family: "line Awesome free";
    position: absolute;
    inset-inline-end: 15px;
  }
  .mega-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    filter: none;
    background-color: transparent;
    padding: 0px;
    border-top: none;
  }
  .mega-items-parent {
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mega-item ul li a {
    line-height: 28px;
    font-size: 13px;
  }
  .mega-item {
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .mega-menu > .container {
    padding: 0;
  }
  .mega-item-img {
    display: none;
  }
}
.general-sec .swiper-button-prev:after, .general-sec .swiper-rtl .swiper-button-next:after, .general-sec .swiper-button-next:after, .general-sec .swiper-rtl .swiper-button-prev:after {
  content: "";
}
.general-sec .swiper-horizontal > .swiper-pagination-bullets, .general-sec .swiper-pagination-bullets.swiper-pagination-horizontal, .general-sec .swiper-pagination-custom, .general-sec .swiper-pagination-fraction {
  display: none;
}
.general-sec .swiper-button-next, .general-sec .swiper-button-prev {
  top: 40%;
}
.general-sec .swiper-button-next i, .general-sec .swiper-button-prev i {
  font-size: 20px;
  color: #999999;
}
.general-sec .swiper-button-prev, .general-sec .swiper-rtl .swiper-button-next {
  left: -50px;
}
.general-sec .swiper-button-next, .general-sec .swiper-rtl .swiper-button-prev {
  right: -50px;
}

.general-sec {
  background-color: #fff;
  padding: 80px 0;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

.like-cart-sec {
  position: absolute;
  top: 5px;
  inset-inline-end: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.like-cart-sec button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all linear 0.2s;
  filter: drop-shadow(0 0 7.5px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
}
.like-cart-sec button i {
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.like-cart-sec .like-btn {
  margin-bottom: 5px;
}
.like-cart-sec .like-btn:hover {
  background-color: #b5000a;
}
.like-cart-sec .like-btn:hover i {
  color: #fff;
}
.like-cart-sec .cart-btn:hover {
  background-color: #000;
}
.like-cart-sec .cart-btn:hover i {
  color: #fff;
}

.discount {
  width: 69px;
  height: 22px;
  border-radius: 11px;
  background-color: #b5000a;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  inset-inline-start: 5px;
}

.item-desc {
  width: 100%;
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.item-desc .brand-name {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 15px;
  color: #000000;
  font-weight: 500;
  transition: all linear 0.2s;
  text-align: start;
  height: 44px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.item-desc .brand-name:hover {
  color: #b5000a;
}

.price {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.price .current-price {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-margin-end: 7px;
          margin-inline-end: 7px;
}
.price .deleted {
  font-size: 14px;
  text-decoration: line-through;
  color: #4d4d4d;
  font-weight: 300;
}

.img-holder {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
.img-holder img {
  width: 100%;
  display: block;
  max-width: 100%;
  transition: all linear 0.2s;
}

.most-viewed, .special-offers, .bestseller {
  border-bottom: 1px solid #f2f2f2;
}

@media only screen and (min-width: 768px) {
  .product-item:hover .img-holder img {
    transform: scale(1.1);
  }
  .product-item:hover .item-desc .brand-name {
    color: #b5000a;
  }
}
@media only screen and (max-width: 991px) {
  .general-sec .swiper-button-next, .general-sec .swiper-button-prev {
    display: none;
  }
  .general-sec .swiper-horizontal > .swiper-pagination-bullets, .general-sec .swiper-pagination-bullets.swiper-pagination-horizontal, .general-sec .swiper-pagination-custom, .general-sec .swiper-pagination-fraction {
    display: block;
    bottom: -60px;
  }
  .general-sec .swiper-pagination-bullet-active {
    background-color: #b5000a;
  }
  .general-sec {
    padding: 50px 0 100px 0;
  }
}
@media only screen and (max-width: 767px) {
  .item-desc {
    align-items: center;
  }
  .general-sec {
    padding: 40px 0 70px 0;
  }
  .newArrivals {
    padding-bottom: 70px;
  }
  .general-sec .swiper-horizontal > .swiper-pagination-bullets, .general-sec .swiper-pagination-bullets.swiper-pagination-horizontal, .general-sec .swiper-pagination-custom, .general-sec .swiper-pagination-fraction {
    bottom: -30px;
  }
  .like-cart-sec button {
    width: 28px;
    height: 28px;
  }
  .like-cart-sec button i {
    font-size: 18px;
  }
  .discount {
    width: unset;
    height: unset;
    padding: 2px 10px;
    font-size: 11px;
    line-height: 14px;
  }
  .shoes .discount, .accesories .discount {
    font-size: 10px;
  }
  .price {
    flex-direction: column;
    justify-content: space-between;
    height: 48px;
  }
  .item-desc .brand-name {
    text-align: center;
    line-height: 1.5;
    height: 42px;
    margin-bottom: 10px;
  }
  .item-desc {
    padding: 10px 5px;
  }
  .price .current-price {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    margin-bottom: 5px;
  }
}
.categories {
  background-color: #f8f8f8;
  padding: 70px 0 60px 0;
}
.categories .cats-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.categories .cats-item {
  text-align: center;
}
.categories .cats-item:hover .cats-type {
  color: #b5000a;
}
.categories .cats-item:hover .cats-img-holder img {
  transform: scale(1.1);
}
.categories .cats-img-holder {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}
.categories .cats-img-holder::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.302);
  z-index: 1;
}
.categories .cats-img-holder img {
  max-width: 100%;
  transition: all linear 0.2s;
}
.categories .cats-type {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  transition: all linear 0.2s;
}

@media only screen and (max-width: 991px) {
  .categories .cats-parent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .categories .cats-item {
    width: calc(50% - 15px);
  }
}
@media only screen and (max-width: 767px) {
  .categories {
    padding: 50px 0;
  }
  .categories .cats-parent {
    row-gap: 25px;
  }
  .categories .cats-type {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .categories .cats-parent {
    display: grid;
    grid-template-columns: 1fr;
  }
  .categories .cats-item {
    width: 100%;
  }
  .categories .cats-img-holder img {
    width: 100%;
  }
  .categories .cats-img-holder {
    margin-bottom: 10px;
  }
}
.shoes, .accesories {
  padding: 80px 0;
}

.shoes {
  border-bottom: 1px solid #f2f2f2;
}

.acces-shoes-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.banner-img-holder {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.banner-img-holder::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.banner-img-holder .shop-sec {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-img-holder .shop-sec .text {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
}
.banner-img-holder .shop-sec .shop-more-btn {
  width: 170px;
  height: 45px;
  border-radius: 22px;
  background-color: #b5000a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  transition: all linear 0.2s;
}
.banner-img-holder .shop-sec .shop-more-btn:hover {
  background-color: #fff;
  color: #000;
}
.banner-img-holder img {
  width: 100%;
  height: 100%;
}

.acces-shoes-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 35px;
}

.accesories .acces-shoes-products {
  grid-row: 1;
}

@media only screen and (max-width: 991px) {
  .acces-shoes-parent, .acces-shoes-products {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-img-holder .shop-sec .text {
    font-size: 22px;
  }
  .banner-img-holder .shop-sec .shop-more-btn {
    font-size: 15px;
    width: 160px;
    height: 44px;
  }
  .acces-shoes-parent {
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
  .acces-shoes-products {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
  .accesories .acces-shoes-products {
    grid-row: auto;
  }
  .shoes {
    border-bottom: none;
  }
  .shoes, .accesories {
    padding: 40px 0 20px 0;
  }
  .accesories {
    padding-bottom: 40px;
    padding-top: 30px;
  }
}
.clients-reviews {
  padding: 60px 0 70px 0;
  background-color: #f8f8f8;
}
.clients-reviews .swiper-button-prev:after, .clients-reviews .swiper-rtl .swiper-button-next:after, .clients-reviews .swiper-button-next:after, .clients-reviews .swiper-rtl .swiper-button-prev:after {
  content: "";
}
.clients-reviews .swiper-horizontal > .swiper-pagination-bullets, .clients-reviews .swiper-pagination-bullets.swiper-pagination-horizontal, .clients-reviews .swiper-pagination-custom, .clients-reviews .swiper-pagination-fraction {
  display: none;
}
.clients-reviews .swiper-button-next, .clients-reviews .swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.clients-reviews .swiper-button-next i, .clients-reviews .swiper-button-prev i {
  font-size: 20px;
  color: #999999;
}
.clients-reviews .swiper-button-prev, .clients-reviews .swiper-rtl .swiper-button-next {
  left: -50px;
}
.clients-reviews .swiper-button-next, .clients-reviews .swiper-rtl .swiper-button-prev {
  right: -50px;
}

.clients-review-title {
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
  font-weight: 800;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.client-review {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  padding: 25px;
}

.name-date {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.review-date {
  font-size: 12px;
  color: #999999;
  font-weight: 500;
  margin: 0;
  -webkit-margin-start: 17px;
          margin-inline-start: 17px;
}

.client-name {
  font-size: 14px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  margin: 0;
}

.stars {
  margin-bottom: 12px;
}
.stars i {
  font-size: 14px;
  letter-spacing: 0;
  color: #cccccc;
}
.stars .active {
  color: #b5000a;
}

.review-text {
  font-size: 13px;
  line-height: 24px;
  color: #808080;
  font-weight: 500;
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .client-review {
    height: auto;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .clients-reviews .swiper-button-next, .clients-reviews .swiper-button-prev {
    display: none;
  }
  .clients-reviews .swiper-horizontal > .swiper-pagination-bullets, .clients-reviews .swiper-pagination-bullets.swiper-pagination-horizontal, .clients-reviews .swiper-pagination-custom, .clients-reviews .swiper-pagination-fraction {
    display: block;
    bottom: -45px;
  }
  .clients-reviews .swiper-pagination-bullet-active {
    background: #b5000a;
  }
}
@media only screen and (max-width: 767px) {
  .client-review {
    padding: 15px;
  }
  .clients-reviews {
    padding: 50px 0 70px 0;
  }
  .clients-reviews .swiper-horizontal > .swiper-pagination-bullets, .clients-reviews .swiper-pagination-bullets.swiper-pagination-horizontal, .clients-reviews .swiper-pagination-custom, .clients-reviews .swiper-pagination-fraction {
    display: block;
    bottom: -35px;
  }
  .clients-review-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .stars {
    margin-bottom: 10px;
  }
  .review-text {
    line-height: 1.7;
  }
}
.features {
  padding: 42px 0;
  background-color: #b5000a;
}

.features-children {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.feature-title1 {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.icon-holder {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  background-color: #fff;
}
.icon-holder .icon {
  font-size: 30px;
  color: #b5000a;
}

.feature-title2 {
  font-size: 12px;
  color: #fa979c;
  font-weight: 500;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .features {
    padding: 50px 0;
  }
  .icon-holder .icon {
    font-size: 25px;
  }
  .icon-holder {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    width: 45px;
    height: 45px;
  }
  .feature-title2 {
    line-height: 1.6;
  }
  .feature-title1 {
    margin-bottom: 8px;
  }
  html[dir=ltr] .feature-title1 {
    margin-bottom: 5px;
    line-height: 1.4;
  }
  html[dir=ltr] .feature-title2 {
    line-height: 1.4;
  }
}
@media only screen and (max-width: 991px) {
  .features-children .feature-item .icon-holder {
    margin-bottom: 10px;
  }
  .features-children {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 15px;
  }
  .feature-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
footer {
  padding: 70px 0 40px 0;
}
footer a:hover {
  text-decoration: none;
}
footer .footer-title {
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
  text-transform: capitalize;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-item {
  margin-top: 10px;
}

.img-item {
  margin-top: 0;
}

html[dir=ltr] .message input {
  padding: 0 100px 0 20px;
}

.logo-info {
  text-align: center;
}

.logo-text h3 {
  font-size: 14px;
  margin: 0;
  margin-top: 20px;
  width: 329px;
  line-height: 28px;
  color: #b5000a;
  font-weight: 300;
}

.payment-maroof-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.payment-maroof-sec a:first-child {
  width: 75px;
}
.payment-maroof-sec a:first-child img {
  width: 100%;
}
.payment-maroof-sec a:last-child {
  width: 65px;
}
.payment-maroof-sec a:last-child img {
  width: 100%;
}
.payment-maroof-sec a:last-child {
  -webkit-margin-start: 15px;
          margin-inline-start: 15px;
}

.quick-links ul li {
  font-size: 16px;
  line-height: 32px;
}
.quick-links ul li a {
  font-size: 13px;
  line-height: 27px;
  font-weight: 400;
  color: #808080;
  text-transform: capitalize;
  transition: all linear 0.2s;
}
.quick-links ul li a:hover {
  color: #b5000a;
}
.quick-links ul li a:focus {
  text-decoration: none;
}
.quick-links ul li a:active {
  text-decoration: none;
}

.newsletter .newsletter-text {
  font-size: 13px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.message {
  position: relative;
  display: inline-block;
  width: auto;
  max-width: 100%;
}
.message .subscribe {
  line-height: 28px;
  width: 80px;
  height: 28px;
  border-radius: 14px;
  background-color: #b5000a;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  position: absolute;
  inset-inline-end: 7px;
  transform: translateY(-50%);
  top: 50%;
  transition: all linear 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message .subscribe:hover {
  background-color: #000;
}
.message input {
  width: 360px;
  height: 40px;
  border-radius: 20px;
  background-color: #f2f2f2;
  transition: all linear 0.2s;
  max-width: 100%;
  outline: none;
  border: 1px solid transparent;
  color: #000;
  padding: 0 25px 0 100px;
  font-size: 16px;
  font-weight: 400;
}
.message input ::-webkit-input-placeholder {
  font-size: 12px;
  color: #8e8e8e;
}
.message input::-webkit-input-placeholder {
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 500;
}
.message input:focus {
  border-color: #b5000a;
}
.message .mail-icon {
  color: #b5000a;
  font-size: 21px;
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
.tasawk {
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.tasawk img {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

.copyright {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright .rights {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
}
.copyright .tasawk-logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}
.copyright .tasawk-logo > span {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
}
.copyright .tasawk-logo > a img {
  -webkit-margin-start: 7px;
          margin-inline-start: 7px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0 15px;
  transition: all linear 0.2s;
}
.social a i {
  font-size: 22px;
  color: #b3b3b3;
  transition: all linear 0.2s;
}
.social a:hover i {
  color: #b5000a;
}

@media only screen and (max-width: 991px) {
  .social {
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .copyright .tasawk-logo {
    order: 3;
  }
  .footer-item {
    margin-top: 0;
  }
  .social-footer {
    margin-bottom: 20px;
  }
  .footer-items {
    flex-direction: column;
  }
  .footer-items .img-item {
    order: 6;
    margin: 30px auto 0 auto;
  }
  .footer-items .footer-item {
    width: 100%;
  }
  .newsletter .newsletter-text {
    text-align: center;
  }
  .quick-links {
    width: 100%;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
  }
  .quick-drop {
    height: auto;
  }
  .contact, .newsletter, .quick-links {
    padding-bottom: 22px;
  }
  .contact ul li:first-child, .contact .nested, .newsletter ul li:first-child, .newsletter .nested, .quick-links ul li:first-child, .quick-links .nested {
    padding-top: 10px;
  }
  .quick-links ul li:first-child {
    padding-top: 9px;
  }
  .quick-links ul li {
    line-height: 2.2;
  }
  .contact ul li {
    margin-bottom: 12px;
  }
  footer {
    padding: 45px 0 30px 0;
  }
  .quick-drop, .contact ul, .newsletter .nested {
    display: none;
  }
  .copyright {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tasawk {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 5;
  }
  .tasawk img {
    -webkit-margin-start: 5px;
            margin-inline-start: 5px;
  }
  .message {
    width: 100%;
  }
  .message input {
    width: 100%;
  }
  .message input::-moz-placeholder {
    font-size: 13px;
  }
  .message input::placeholder {
    font-size: 13px;
  }
  .quick-links ul li {
    font-size: 14px;
  }
  .contact ul li a {
    font-size: 14px;
  }
  .newsletter p {
    font-size: 14px;
  }
  .copyright .rights {
    order: 2;
    margin: 14px 0 6px 0;
    text-align: center;
    font-size: 13px;
    width: 100%;
  }
  footer .footer-title {
    font-size: 15px;
    margin-bottom: 0;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
  }
  footer .footer-title::after {
    font-size: 17px;
    content: "\f107";
    transition: all linear 0.3s;
    font-family: "line Awesome free";
    position: absolute;
    inset-inline-end: 0;
    top: 0;
  }
  .payment-maroof-sec img:first-child {
    width: 70px;
  }
  .payment-maroof-sec img:last-child {
    width: 55px;
  }
  .logo-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-text h3 {
    text-align: center;
    width: auto;
  }
  .social i {
    font-size: 18px;
  }
  .payments {
    text-align: center;
    width: 100%;
  }
  .payments img {
    max-width: 100%;
  }
  .payment-maroof-sec {
    justify-content: center;
  }
  .payment-maroof-sec img:first-child {
    -webkit-margin-end: 30px;
            margin-inline-end: 30px;
  }
  .arrow-rotate::after {
    transform: translateY(-50%) rotate(180deg) !important;
    top: 10px !important;
  }
  .rotate-icon-special::after {
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .newsletter-item {
    margin-top: 30px;
  }
}
.show-user-account {
  opacity: 1 !important;
  visibility: visible !important;
}

.overflow-hidden-body {
  overflow: hidden;
}

.icon-color {
  color: #000 !important;
}

.showToTop {
  opacity: 1;
  visibility: visible;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #fff;
  transition: all linear 0.5s;
}

.fixedset {
  top: -150px;
  transition: all linear 0.5s;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.fixed-header {
  border-bottom: 1px solid #d0d0d0;
}
.fixed-header .main-nav {
  padding: 12px 30px;
}
.fixed-header .logo img {
  height: 40px;
}
@media only screen and (min-width: 768px) {
  .fixed-header .li-drop > a {
    line-height: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
  .fixed-whatsapp {
    width: 50px;
    height: 50px;
  }
  .fixed-whatsapp i {
    font-size: 30px;
  }
  .toTop {
    right: 19px;
    bottom: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}/*# sourceMappingURL=main.css.map */