.mega-menu{
    transition: all linear .2s;
    z-index: 999999;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    border-top: 1px solid  #f2f2f2;
    // filter: drop-shadow(0 0 12.5px rgba(0,0,0,0.05));
    background-color: #ffffff;
    padding: 35px 0 ;
    opacity: 0;
    visibility: hidden;
    // display: none;
}
.mega-items-parent{
   display: grid;
   grid-template-columns: repeat(4 , 1fr);
   column-gap: 30px;
}

.mega-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h3{
        font-size: 14px;
        text-transform: capitalize;
        color: #000000;
        font-weight: 700;
        margin: 0;
        margin-bottom: 25px;
    }
    ul li a {
        color: #808080;
        font-size: 14px;
        line-height: 28px;
        transition: all linear .2s;
        font-weight: 500;
        &:hover{
            color: $main-color;
        }
    }
}



@include max-992 {
    .mega-item ul {
        display: none;
        padding-inline-start: 15px;
        li:first-of-type{
            padding-top: 5px;
        }
        li:last-of-type{
            padding-bottom: 5px;
        }
    }
   .mega-item  h3 {
    position: relative;
    display: block;
    margin-bottom: 7px;
    color: $main-color;
    width: 100%;
  padding:  0 15px;
    &::after{
        content: "\f107";
        font-size: 15px;
        transition: all linear .3s;
        font-family: "line Awesome free";
        position: absolute;
        inset-inline-end: 15px;
    }
   }
    .mega-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        filter: none;
        background-color: transparent;
        padding: 0px ;
        border-top: none;
    }
    .mega-items-parent{
        display: none;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
    }
   
    .mega-item ul li a{
        line-height: 28px;
        font-size: 13px;
    }
    .mega-item{
       align-items: flex-start;
      margin-top: 15px;
       margin-bottom: 10px;
    }
    .mega-menu > .container{
        padding: 0;
    }
    .mega-item-img{
        display: none;
    }
    
}

